*{
  margin: 0;
  padding: 0;
}

body{
background-color: #FFF1CA;
text-align: center;
}
h1{
  color: darkblue;
}
.container{
  height: 70vh;
  display: flex;
 
  justify-content: center;
  align-items: center;
}
.game{
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box{
  height: 18vmin;
  width: 18vmin;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 1rem rgb(199, 208, 76) ;
  font-size: 8vmin;
  color: chocolate;
  background-color: #FFB823;
}
#reset-btn{
  padding: 1rem;
  font-size: 1.25rem;
  background-color: rgb(73, 213, 255);
  color: #870dd8;
  border-radius: 1rem;
  border: none;
}
#new-btn{
  padding: 1rem;
  font-size: 1.25rem;
  background-color: blueviolet;
  color: antiquewhite;
  border-radius: 20px;
  border: none;
}
#msg{
  color: darksalmon;
  font-size: 8vmin;
}
.msg-container{
  height: 30vmin;
 
}
.hide{
  display: none;
}